div.objectexplorer_jumplist_div {
    margin-left:auto;
    margin-right:auto;
    background-color: #dddddd;
    margin-bottom:0px;
    padding-top:30px;
    padding-bottom:20px;
    width:70em;

}

div.oe_row {
    display:block;
}
div.oe_cell {
    font-family:"Times New Roman", Serif;
    font-size:12pt;
    display:inline-block;
    width:10em;
    text-align:left;
    margin-left:3.2em;
    margin-right:3.2em;
    padding-left:0;
    padding-right:0;
    height:1.75em;

}

div.oe_cell a {
    text-decoration:none;
    color:blue;
    padding-left:.5em;
    padding-right:.5em;
}

div.oe_cell a:hover {
    text-decoration:none;
    color:blue;
    background-color:#eeeeee;
}
div.oe_cell a:visited {
    text-decoration:none;
    color:gray;
}


div.full-reference {
    margin-left:20px;
}

div.quick-reference {
    margin-left:20px;
}

div.full-reference a {
    color:blue;
    padding-left:.5em;
    padding-right:.5em;

}

div.full-reference a:hover {
    color:blue;
    background-color:#ffffff !important;
    padding-left:.5em;
    padding-right:.5em;

}

